html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif !important;
}

img{
  vertical-align: initial !important;
}

div{
    transition:  max-width 0.2s ease-in-out, font-size 0.2s ease-in-out;
}


#main_container{
  /* background: url("../assets/images/Background.jpg"); */
  background-position: center center;
  background-attachment: fixed;
  min-height: 100% !important;
  min-height: 444px;
}

body.text-light #main_container {
	background-color: #171717;
}

body.text-dark #main_container {
	background-color: #f7f7f7;
}

body.text-light .bg-negative-grid {
    background-image: linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 8px 8px;
}

body.text-dark .bg-negative-grid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
    background-size: 8px 8px;
}

body.text-light #lights {
	color: #2e2e2e;
}

body.text-dark #lights {
	color: #f4f4f4;
}

.button{
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 9px;
    transition: all 0.5s;
}

.button-orange{
    color: white;
    outline: 2px solid #f56042;
}

.button-orange:hover{
    text-decoration: none;
    background: #f56042;
    color: #2B2B2B;
}


.sidebar{
    position: fixed;
    top: initial;
    bottom: 0;
    
    width: 100%;
    height: 62px;
    background: #252525;

    z-index: 10;
}

.sidebar .logo {
    text-align: center;
    width: 55px;
    height: 100%;
    margin-top: -30px;
    margin-left: 13px;
}

.logo img{
    width: 100%;
}


.navegation{
    width: calc(100% - 77px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.navegation a{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
    color: rgb(190, 190, 190);
    transition: color 0.2s ease-in-out;
    line-height: 3;
    padding-top: 10px;
}

.navegation a:hover{
    text-decoration: none;
    color: white;
}

.navegation span{
    font-size: 9px;
}

.center-items-xy{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SOCIAL */
.social{
    width: 100%;
    height: 150px;
    padding-left: 5px;
    position: initial;
}

.social > div{
    position: fixed;
    top: 15px;
    left: 15px;
}

.social > div > a {
    display: block;
    width: 44px;
    height: 50px;
}

.social .github{
    position: absolute;
    top: 0;
    left: 11px;
    background: url("../assets/images/github.png");
    background-size: cover;
    background-position: center;
}

.social .linkedin{
    position: absolute;
    top: 42px;
    left: 36px;
    background: url("../assets/images/linkedin.png");
    background-size: cover;
    background-position: center;
}

.social .twitter{
    position: absolute;
    top: 85px;
    left: 12px;
    background: url("../assets/images/twitter.png");
    background-size: cover;
    background-position: center;
}

.social .twitter, .social .github, .social .linkedin{
    opacity: 0.75;
    transition: all 0.2s ease-in-out;
}

.social .twitter:hover, .social .github:hover, .social .linkedin:hover{
    opacity: 0.9;
    transform: scale(1.05);
}
.top-left-hex{
    position: relative;
}
.hex-wrapper{
    width: 0;
    height: 0;
}

.hexagon-img{
    position: absolute;
    background: url("../assets/images/hexagon.png");
    background-size: cover;
	width: 80px;
	height: 80px;
	top: 40px;
	right: 40px;
}

body.text-light .hexagon-img {
	position: absolute;
    background: url("../assets/images/hexagon.png");
    background-size: cover;
	width: 80px;
	height: 80px;
	top: 40px;
	right: 40px;
}

body.text-dark .hexagon-img {
	position: absolute;
    background: url("../assets/images/d-hexagon.png");
    background-size: cover;
	width: 80px;
	height: 80px;
	top: 40px;
	right: 40px;
}


.text-blue { 
    color: #1a84c1;
}

.text-light-blue{
    color: #b5e4ff;
}

hr{
    border-top: 1px solid #1a84c1 !important;
}

hr.mini{
    border-top: 1px solid #F4F4F4 !important;
    max-width: 200px;
}

@keyframes HEXCALE{
    from{ 
        transform: scale(1);
        opacity: 0.2;
    }
    to{ 
        transform: scale(2);
        opacity: 0;
    }
}

.hexcale-1{
    animation: HEXCALE 2s linear 0s infinite;
}

.hexcale-2{
    animation: HEXCALE 2s linear 1s infinite;
}


@media (max-height: 578px){
    .title{
        font-size: 60px;
    }
    
    .title-description{
        font-size: 18px;
        width: 220px;
    }

    .social > div{
        top: -20px;
        left: 7px;
        transform: scale(0.9);
    }
}


@media (min-width: 350px){
    .sidebar{
        height: 78px;
    }

    .navegation{
        padding-left: 8%;
        padding-right: 8%;
    }

    .navegation a{
        font-size: 27px;
    }

    .navegation span{
        font-size: 10px;
    }
    
    .sidebar .logo {
        width: 60px;
    }
    
}


@media (min-width: 768px){

    #main_container{
        min-height: 630px;
    }

    .sidebar{
        background: rgba(255, 255, 255, 0.07);
        width: 100px;
        height: 100%;
        top: 0;
        left: 0;
    }

    .sidebar .logo{
        margin-top: 45px;
        margin-left: 0;
        width: 100%;
        height: 75px;
    }

    .logo img{
        width: auto;
        height: 100%;
    }

    .navegation{
        width: 100%;
        height: 228px;
        flex-direction: column;
        visibility: hidden;
    }

    .navegation a{
        font-size: 35x;
    }

    .social{
        position: initial;
    }

    .social > div{
        position: relative;
        top: 0;
        left: 0;
    }
}


@media (min-width: 992px){
    #main_container{
        min-height: 643px;
      }
    .sidebar .logo {
        height: 100px;
    }
    .navegation{
        width: 100%;
        height: 296px;
    }
}