
.title{
    font-size: 80px;
}

.title-description{
    font-size: 20px;
    width: 250px;
}

.separator{
    border-right: 6px solid #1a84c1;
    height: 100%;
}

.menu{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 30px;
    font-weight: 300;
}

.menu a{
    text-decoration: none;
    color: #F4F4F4;
}

.menu a:hover{
    text-decoration: none;
    color: #C9C9C9;
}


.selected{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../assets/images/menu-selector.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menu a:hover .selected{
    opacity: 1;
}




@media (max-height: 568px){
    .title{
        font-size: 60px;
    }
    
    .title-description{
        font-size: 18px;
        width: 220px;
    }
}

@media (min-width: 768px){
    
}


@media (min-width: 992px){
    .title{
        font-size: 120px;
    }
    
    .title-description{
        font-size: 27px;
        width: 360px;
    }

    

    .menu{
        font-size: 42px;
        font-weight: 300;
    }

    .selected{
        width: 40px;
        height: 40px;
    }

}

