/* INDEX CSS */

.box{
  width: 175px;
  height: 175px;
  display: inline-block;
  transition: all 0.5s;
  background: #2B2B2B;
  color: #F4F4F4;
  background-image: url("../assets/images/hi_im_danny.jpg");
  background-size: contain;
}


.sideboxes{
  margin-top: 40px;
  text-align: center;
}

.sideboxes > .module{
  margin: 10px 0;
}

.sideboxes > .module > div{
  display: none;
}

.sideboxes > .module > a{
  color: #2B2B2B;
  font-size: 25px;
}




@media (min-width: 768px){

  .box{
    width: 250px;
    height: 250px;
  }

  #boxC{
    margin-left: 7vw;
  }

  #boxC:hover .box{
    transform: translate(-100px, 0);
  }

  #boxC:hover .sideboxes .module{
    transform: translate(-100px, 0);
    opacity: 1;
  }
  
  #boxC:hover .sideboxes > .module > a{
    opacity: 1;
  }

  .sideboxes{
    height: 250px;
    display: inline-block;
    margin-top: 0;
  }
  
  .sideboxes > .module{
    height: 25%;
    padding: 5px 0;
    transition: all 0.5s;
    opacity: 0;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .sideboxes > .module:first-child{
    opacity: 1;
  }
  
  .sideboxes > .module > div{
    background: #2b2b2b;
    height: 100%;
    width: 5px;
    display: inline-block;
  }
  
  .sideboxes > .module > a{
    opacity: 0;
    margin-left: 13px;
    transition: all 0.5s;
    display: inline-block;
  }
}

