html{
	overflow-y: scroll;
}

html,
body {
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.header {
	width: 100%;
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes title-s{
	0% {
		transform: scale(1);
		opacity: 0.3;
	}
	100% {
		transform: scale(1.15);
		opacity: 0;
	}
}
.text {
	position: relative;
	font-size: 3.5rem;
	color: black;
	text-shadow: 0 0 10px black;
	z-index: 2;
}

.text-bg{
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	font-size: 3.5rem;
	animation: title-s 0.5s ease-out 0s infinite;
	z-index: 3;
	color: black;
}

@keyframes particle {
	0% {
		bottom: -100px;
		transform: rotate(0);
		opacity: 0.5;
	}
	100% {
		bottom: 100%;
		transform: rotate(90deg);
		opacity: 0.01;
	}
}

.part {
	bottom: -100px;
	position: fixed;
	background: #e4c5d4;
	box-shadow: 0 0 10px #e4c5d4;
	width: 20px;
	height: 20px;
	animation: particle 2s ease-in 1s infinite;
}

.success {
	font-size: 100px;
	color: #44ffb4;
	text-shadow: 0 0 10px #44ffb4;
	text-align: center;
	padding: 30px 0 10px 0;
}

.error {
	font-size: 100px;
	color: #ff6944;
	text-shadow: 0 0 10px #ff6944;
	text-align: center;
	padding: 30px 0 10px 0;
}

#IP {
	color: white;
	font-size: 20px;
	text-align: center;
}
.bg-event{
	background-image: url(../images/bg1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.bg-darker {
    background-color: #161616;
}
.bg-negative-grid {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.04) 1px,
            transparent 1px
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 8px 8px;
}

.points {
	height: 100vh;
	min-height: 800px;
}

.button {
	padding: 15px;
	background: #4289f4;
	color: white;
	margin: 10px auto;
	width: 50%;
	text-align: center;
	font-size: 23px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.button:hover {
	cursor: pointer;
	background: #1869e2;
}

.d-none {
	display: none;
}


.foto {
	border-radius: 50%;
	height: 130px;
	width: 130px;
	margin: 50px 0 30px 0;
	object-fit: cover;
}
.name {
	color: white;
	font-size: 25px;
	text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
#servers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 7px;
}
#servers > label {
	display: block;
	height: 100px;
	text-align: center;
	margin: 7px;
	position: relative;
}
#servers > label input, #factions > label input {
	display: none;
}

.o-70 {
	transition: opacity 0.4s ease-in-out;
	width: 100%;
	min-width: 100%;
	cursor: pointer;
	position: relative;
}

@media(min-width: 600px){
	.o-70 {
		transition: opacity 0.4s ease-in-out;
		width: 18%;
		min-width: 220px;
		cursor: pointer;
		position: relative;
	}
	#servers > label {
		display: block;
		height: 70px;
		text-align: center;
		margin: 7px;
		position: relative;
	}
}

.o-70 .name {
	position: relative;
	z-index: 10;
	opacity: 0.5;
	transition: opacity 0.2s ease-in-out;
	text-shadow: 0 0 5px black;
}

.server-icon {
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.2s ease-in-out;
}
.bg-server-tag {
	position: absolute;
	opacity: 0.5;
	background: rgba(255, 255, 255, 0.2);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	transition: opacity 0.2s ease-in-out;
}

.o-70:hover .bg-server-tag, .o-70:hover .server-icon, .o-70:hover .name{
	opacity: 0.7;
}

.o-70 input:checked ~ .bg-server-tag, .o-70 input:checked ~ .server-icon, .o-70 input:checked ~ .name {
	opacity: 1;
}

#AMAGI {
	background-image: url("../images/Amagi.png");
	background-size: 325%;
	background-position: 39% 20%;
	background-repeat: no-repeat;
	z-index: 5;
}
#AVRORA {
	background-image: url("../images/Avrora.png");
	background-size: 205%;
	background-position: 86% 10%;
	background-repeat: no-repeat;
	z-index: 5;
}
#LEXINGTON {
	background-image: url("../images/Lexington.png");
	background-size: 243%;
	background-position: 57% 10%;
	background-repeat: no-repeat;
	z-index: 5;
}
#SANDY {
	background-image: url("../images/Sandy.png");
	background-size: 114%;
	background-position: 89% 23%;
	background-repeat: no-repeat;
	z-index: 5;
}
#WASHINGTON {
	background-image: url("../images/Washington.png");
	background-size: 240%;
	background-position: 74% 18%;
	background-repeat: no-repeat;
	z-index: 5;
}


.host {
	background: #44ffb4 !important;
	box-shadow: 0 0 10px #44ffb4;
}

.host_message {
	font-size: 80px;
	position: absolute;
	color: #39b585;
	bottom: 10px;
	left: 0;
	right: 0;
}

thead tr {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
	top: 0;
}

tbody tr {
	margin: 5px 0;
	background-color: rgba(255, 255, 255, 0.01);
	transition: background-color 0.2s ease-in-out;
}

tr td, tr th {
	padding-left: 10px;
	padding-right: 10px;
}
th, td {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
tbody tr td:last-child img, tbody tr td:nth-child(4) img {
	cursor: pointer;
}

tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.1)
}
tbody tr td {
	padding-top: 12px;
	padding-bottom: 12px;
}

#nambawan {
	margin: 0 7px;
}

table.dataTable, #nambawan { 
	border-collapse: separate; 
	border-spacing: 0 0;
} 

.faction {
	width: 100%;
	max-width: 250px;
}

.init_image{
	max-height: 60px;
}

.server {
	width: 20%;
}

.server > div {
	background-color: rgba(255, 255, 255, 0.4);
}

.container {
	max-width: 1500px;
}

.text-darker {
	color: #141414;
}

.pts_c{
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	min-width: 200px;
	width: 25%;
}

.pts {
	font-size: 2.7rem !important;
	text-shadow: 0 0 7px white;
	padding-top: 7px;
	width: 100%;
}

#uss_img{
	opacity: 0.5;
	max-width: 200px;
	padding-right: 35px;
	height: 200px;
}

#hms_img{
	opacity: 0.5;
	max-width: 200px;
	padding-left: 30px;
	height: 200px;
}
#ijn_img{
	opacity: 0.5;
	max-width: 200px;
	height: 200px;
}
#kms_img{
	opacity: 0.7;
	max-width: 200px;
	padding-left: 15px;
	height: 200px;
}
#uss_img,#hms_img,#ijn_img,#kms_img{
	display: flex;
	align-items: flex-end;
}
#uss_img img,#hms_img img,#ijn_img img,#kms_img img{
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.illustrious{
	max-width: 40%;
	position: absolute;
	top:-15%;
	right: -19%;
	opacity: 0.9;
}

.roon{
	max-width: 32%;
	position: absolute;
	bottom:-50%;
	right: -7%;
	opacity: 0.9;
}

.taihou{
	max-width: 70%;
	position: absolute;
	bottom:-80%;
	left: -27%;
	opacity: 0.9;
}

.baltimore{
	max-width: 25%;
	position: absolute;
	top:-5%;
	left: -5%;
	opacity: 0.9;
}

#u > div{
	width: 350px;
	height: 500px;
	background-image: url("../images/u.png");
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

#u > div:nth-child(1){
	animation: title-s 1.5s ease-out 0s infinite;
	background-image: url("../images/u.png");
	filter: brightness(5);
}

#presp:not(.d-none) + #sp{
	filter: brightness(2);
}

#sp:hover {
	cursor: pointer;
	filter: brightness(2);
}

div.table-title {
	display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 }
 
 .table-title h3 {
	color: #fafafa;
	font-size: 30px;
	font-weight: 400;
	font-style:normal;
	font-family: "Roboto", helvetica, arial, sans-serif;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
 }

 
 .table-fill {
   border-radius:3px;
   border-collapse: collapse;
   height: 320px;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
 }
  
 th {
   color:#D5DDE5;;
   background:#1b1e24;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-size:1.3rem;
   font-weight: 100;
   padding:7px;
   text-align:left;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
 }
 
 th:first-child {
   border-top-left-radius:3px;
 }
  
 th:last-child {
   border-top-right-radius:3px;
   border-right:none;
 }
   
 tr {
   border-top: 1px solid #C1C3D1;
   border-bottom: 1px solid #C1C3D1;
   color:white;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
 }
 
 tr td{
	transition: background-color 0.1s ease-in;
 }

 tr:hover td {
   background-color: rgba(78, 80, 102, 0.2);
   color:#FFFFFF;
 }

 tr:first-child {
   border-top:none;
 }
 
 tr:last-child {
   border-bottom:none;
 }
  
 tr:nth-child(odd) td {
   background-color:rgba(235,235,235, 0.2);
 }
  
 tr:nth-child(odd):hover td {
   background-color:rgba(78, 80, 102, 0.2);
 }
 
 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 }
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 }
  
 td {
   background:rgba(255,255,255, 0.2);
   padding:20px;
   text-align:left;
   vertical-align:middle;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
 }
 
 td:last-child {
   border-right: 0px;
 }
 
 th.text-left {
   text-align: left;
 }
 
 th.text-center {
   text-align: center;
 }
 
 th.text-right {
   text-align: right;
 }
 
 td.text-left {
   text-align: left;
 }
 
 td.text-center {
   text-align: center;
 }
 
 td.text-right {
   text-align: right;
 }
 
 .countdown{
	font-family: 'Roboto', sans-serif;
	height: 80px;
	color: #00ff3a;
	margin-bottom: 15px;
	text-shadow: 0 0 10px #00ff3a !important;
 }